.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: loader-dark 1s infinite linear;
    margin-left: 20px;
}

@keyframes loader-dark {
    0% { box-shadow: 20px 0 #000, -20px 0 #0002; background: #000 }
    33% { box-shadow: 20px 0 #000, -20px 0 #0002; background: #0002 }
    66% { box-shadow: 20px 0 #0002, -20px 0 #000; background: #0002 }
    100% { box-shadow: 20px 0 #0002, -20px 0 #000; background: #000 }
}

@keyframes loader-light {
    0% { box-shadow: 20px 0 #fff, -20px 0 #0002; background: #fff }
    33% { box-shadow: 20px 0 #fff, -20px 0 #0002; background: #0002 }
    66% { box-shadow: 20px 0 #0002, -20px 0 #fff; background: #0002 }
    100% { box-shadow: 20px 0 #0002, -20px 0 #fff; background: #fff }
}

@media (prefers-color-scheme: dark) {
    .loader {
        animation: loader-light 1s infinite linear;
    }
}