.app {
  --app-max-width: 1280px;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
}

.app__content {
  margin-top: 5rem;
}

.app__control-btn-row {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: 1.25rem 0.75rem;
  background-color: white;

  &::after {
    position: absolute;
    bottom: -30px;
    content: '';
    height: 30px;
    width: 100%;
    background: linear-gradient(white, transparent);
  }
}

@media (prefers-color-scheme: dark) {
  .app__control-btn-row {
    background-color: var(--color-dark);
    &::after {
      background: linear-gradient(var(--color-dark), transparent);
    }
  }
}